$xs: "only screen and (min-width: 20.063em)"; /* 320px */
$sm: "only screen and (min-width: 30.063em)"; /* 480px */
$md: "only screen and (min-width: 40.063em)"; /* 640px */
$lg: "only screen and (min-width: 52.563em)"; /* 840px */
$xlg: "only screen and (min-width: 64.063em)"; /* 1020px */

body,html{
  padding: 0;
  margin: 0;
}
html{
  body{
  }
}
h1,h2,h3{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: .2rem
}
h1{
  font-weight: 300;
  color: #fff;
  letter-spacing: .08rem;
  line-height: 1rem;
  text-transform: uppercase;
  font-size: 2rem;
}
p{
  font-weight: 300;
  color: #fff;
  display: block;
  letter-spacing: .08rem;
}
nav{
  ul{
    margin: 0;
    list-style-type: none;
    li,a{
      display: inline-block;
    }
  }
}
//Debug Panel
div#debugPanel{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,.8);
  z-index: 99;
  padding: .5rem 1rem;
  span{
    color: #fff;
    margin-right: 1rem;
    font-family: sans-serif;
  }
}
//containers
.section-container{
  position: relative;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  height: 0;
  z-index: 0;
  &#intro{
  }
  &#transition1{
  }
  &#work{
    background: #a88ac5;
    .main-content{
      padding-top: 5rem;
      //Text Styles
      h2{
        margin-bottom: 2rem;
      }
      .header-pot{
        width: 40px;
        margin-bottom: 1rem;
      }
      p{
        color: #000;
        margin-bottom: 1rem;
        .work-title{
          font-weight: 600;
        }
      }
      //Logos
      .logo-container{
        height: 0;
        padding-bottom: 20%;
        position: relative;
        object{
          position: absolute;
        }
      }
      .logo_tokidoki,.logo_bebe,.logo_tb{
        display: block;
        margin: 0 auto 2rem
      }
      .logo_tokidoki{
        width: 40%;
        left: 30%;
      }
      .logo_bebe{
        width: 40%;
        top: 15%;
        left: 30%;
      }
      .logo_tb{
        width: 90%;
        left: 5%;
        top: 20%;
      }
      .more-button{
        display: block;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        background-color: #000;
        margin: 0 auto;
        text-align: center;
        span{
          color: #fff;
          font-size: 2rem;
          font-weight: 600;
          line-height: 40px;
        }
      }
    }
  }
  &#transition2{
    background: #f28288;
  }
  &#skills{
    background: #bae4a4;
  }
  &#transition3{
    background: #ffa170;
  }
}
//Content
.main-content{
  position: absolute;
  width: 80%;
  top: 0;
  left: 10%;
  z-index: 100;
  p{
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0;
    font-weight: 500;
    margin: 0 auto .8rem;
  }
}
//sprites
.floating-element{
  height: auto;
  width: 100%;
  min-width: 100px;
  position: absolute;
}
.svg-element{
  svg{
  }
}
.simple-box{
  width: 100%;
  height: 0;
  padding-bottom: 20%;
  .simple-box-inner{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
//Container 1
.down-btn{
  position: absolute;
  height: 1px;
  width: 1px;
  background: #000;
  -webkit-transform: translate3d(0,0,50px);
  -ms-transform: translate3d(0,0,50px);
  transform: translate3d(0,0,50px);
  .down-btn-cirle{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    box-sizing: content-box;
  }
  .down-btn-inner-1{
    width: 7rem;
    height: 7rem;
    margin-left: -5rem;
    margin-top: -5rem;
    border: 1.5rem solid #fff;
    opacity: .6;
  }
  .down-btn-inner-2{
    width: 3rem;
    height: 3rem;
    margin-left: -3.5rem;
    margin-top: -3.5rem;
    border: 2rem solid #fff;
    opacity: .8;
  }
  .down-btn-inner-3{
    width: 3rem;
    height: 3rem;
    margin-left: -1.51rem;
    margin-top: -1.51rem;
  }
}
.copy-box{
  position: absolute;
  z-index: 99;
  text-align: center;
  font-size: 1rem;
  -webkit-transform: translate3d(0,0,50px);
  -ms-transform: translate3d(0,0,50px);
  transform: translate3d(0,0,50px);
  h1{
    padding: 0;
    line-height: 2rem;
    margin: 0 0 .8rem;
  }
  p{
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0;
    font-weight: 500;
    margin: 0 auto .8rem;
  }
}
body.modal-active{
  overflow: hidden;
}
.modal-container{
  position: fixed;
  z-index: 100;
  height: 0%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: height 1ms;
  -webkit-transition-delay: 3s;
  transition-delay: 3s;
  .modal-animation-box{
    width: 110%;
    height: 50%;
    position: absolute;
    -webkit-transform: translate3d(0,0,50px);
    -ms-transform: translate3d(0,0,50px);
    transform: translate3d(0,0,50px);
    &.modal-animation-box-1{
      top: 100%;
      left: -5%;
      background-color: #fca718;
      transform: rotate(1deg);
      transition: top 3.5s;
      z-index: 10;
    }
    &.modal-animation-box-2{
      top: 120%;
      left: -5%;
      background-color: #fdbc4f;
      transform: rotate(-1deg);
      transition: top 3s;
      z-index: 9;
    }
    &.modal-animation-box-3{
      top: 140%;
      left: -5%;
      background-color: #fedba3;
      transform: rotate(1deg);
      transition: top 2.5s;
      z-index: 8;
    }
    &.modal-animation-box-4{
      top: 160%;
      left: -5%;
      background-color: #fff;
      height: 100%;
      z-index: 7;
      transition: top 2.5s;
    }
  }
  &.modal-container-show{
    height: 100%;
    transition: height 1ms;
  }
  //Animation
  &.active{
    .modal-animation-box-1{
      top: -95%;
      transition: top 2s;
    }
    .modal-animation-box-2{
      top: -75%;
      transition: top 2.5s;
    }
    .modal-animation-box-3{
      top: -55%;
      transition: top 3s;
    }
    .modal-animation-box-4{
      top: 0%;
      transition: top 2.5s;
    }
  }
  .main-modal-container{
    z-index: 101;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    .modal-close-button{
      display: block;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      background-color: #fff;
      margin: 0 auto;
      text-align: center;
      transform: rotate(45deg);
      span{
        color: #000;
        font-size: 2rem;
        font-weight: 600;
        line-height: 40px;
      }
    }
    .modal-inner{
      width: 100%;
      height: 100%;
      &.work-modal-container{
        nav#work-modal-nav{
          a{
            width: 100%;
            display: inline-block;
          }
          .logo_tokidoki{
            width: 60%;
          }
          .logo_bebe{
            width: 60%;
            padding-top: 5%;
          }
          .logo_tb{
            padding-top: 8%;
          }
        }
      }
    }
  }
}

.sm {
  //SMALL ZINDEX
  @for $i from 0 through 50{
    .sm-z-#{$i}{
      z-index: $i;
    }
  }
  //SMALL Rotate
  @for $i from -360 through 360{
    .sm-r-#{$i}{
      -webkit-transform: rotate($i + deg);
      -ms-transform: rotate($i + deg);
      transform: rotate($i + deg);
    }
  }
  //SMALL HEIGHT
  @for $i from 0 through 100{
    .sm-h-#{$i}{
      height: 0% + $i;
    }
  }
  //SMALL WIDTH
  @for $i from 0 through 300{
    .sm-w-#{$i}{
      width: 0% + $i;
    }
  }
  //SMALL TOP
  @for $i from 0 through 100{
    .sm-t-#{$i}{
      top: 0% + $i;
    }
  }
  //SMALL RIGHT
  @for $i from 0 through 100{
    .sm-r-#{$i}{
      right: 0% + $i;
    }
  }
  //SMALL BOTTOM
  @for $i from 0 through 100{
    .sm-b-#{$i}{
      bottom: 0% + $i;
    }
  }
  //SMALL LEFT
  @for $i from -200 through 200{
    .sm-l-#{$i}{
      left: 0% + $i;
    }
  }
}
//MEDIUM DIMENSIONS
.md {
  //MEDIUM HEIGHT
  @for $i from 0 through 100{
    .md-h-#{$i}{
      height: 0% + $i;
    }
  }
  //MEDIUM WIDTH
  @for $i from 0 through 200{
    .md-w-#{$i}{
      width: 0% + $i;
    }
  }
  //MEDIUM TOP
  @for $i from 0 through 100{
    .md-t-#{$i}{
      top: 0% + $i;
    }
  }
  //MEDIUM RIGHT
  @for $i from 0 through 100{
    .md-r-#{$i}{
      right: 0% + $i;
    }
  }
  //MEDIUM BOTTOM
  @for $i from 0 through 100{
    .md-b-#{$i}{
      bottom: 0% + $i;
    }
  }
  //MEDIUM LEFT
  @for $i from -200 through 200{
    .md-l-#{$i}{
      left: 0% + $i;
    }
  }
}
//LARGE DIMENSIONS
.lg {
  //LARGE HEIGHT
  @for $i from 0 through 100{
    .lg-h-#{$i}{
      height: 0% + $i;
    }
  }
  //LARGE WIDTH
  @for $i from 0 through 200{
    .lg-w-#{$i}{
      width: 0% + $i;
    }
  }
  //LARGE TOP
  @for $i from 0 through 100{
    .lg-t-#{$i}{
      top: 0% + $i;
    }
  }
  //LARGE RIGHT
  @for $i from 0 through 100{
    .lg-r-#{$i}{
      right: 0% + $i;
    }
  }
  //LARGE BOTTOM
  @for $i from 0 through 100{
    .lg-b-#{$i}{
      bottom: 0% + $i;
    }
  }
  //LARGE LEFT
  @for $i from -100 through 100{
    .lg-l-#{$i}{
      left: 0% + $i;
    }
  }
}
