$xs: "only screen and (min-width: 20.063em)"; /* 320px */
$sm: "only screen and (min-width: 30.063em)"; /* 480px */
$md: "only screen and (min-width: 40.063em)"; /* 640px */
$lg: "only screen and (min-width: 52.563em)"; /* 840px */
$xlg: "only screen and (min-width: 64.063em)"; /* 1020px */
