body.modal-active{
  overflow: hidden;
}
.modal-container{
  position: fixed;
  z-index: 100;
  height: 0%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: height 1ms;
  -webkit-transition-delay: 3s;
  transition-delay: 3s;
  overflow: hidden;
  .modal-animation-box{
    width: 110%;
    height: 50%;
    position: absolute;
    -webkit-transform: translate3d(0,0,50px);
    -ms-transform: translate3d(0,0,50px);
    transform: translate3d(0,0,50px);
    &.modal-animation-box-1{
      top: 100%;
      left: -5%;
      background-color: #fca718;
      transform: rotate(1deg);
      transition: top 3.5s;
      z-index: 10;
    }
    &.modal-animation-box-2{
      top: 120%;
      left: -5%;
      background-color: #fdbc4f;
      transform: rotate(-1deg);
      transition: top 3s;
      z-index: 9;
    }
    &.modal-animation-box-3{
      top: 140%;
      left: -5%;
      background-color: #fedba3;
      transform: rotate(1deg);
      transition: top 2.5s;
      z-index: 8;
    }
    &.modal-animation-box-4{
      top: 160%;
      left: -5%;
      background-color: #fff;
      height: 100%;
      z-index: 7;
      transition: top 2.5s;
    }
  }
  .modal-content{
    z-index: 101;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    .modal-content-sidebar{
      width: 30%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: #000;
      color: #fff;
      .modal-close-button{
        display: block;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: 0 auto;
        text-align: center;
        transform: rotate(45deg);
        span{
          color: #fff;
          font-size: 2rem;
          font-weight: 600;
          line-height: 40px;
        }
      }
      .sidebar-content{
        padding: 1rem 2rem 0;
        .sidebar-separator{
          border-top: 1px solid #fff;
          height: 1px;
          width: 100%;
          margin-bottom: 1rem;
        }
        .logo-nav-container{
          margin-bottom: 1rem;
          >.cell{
            position: relative;
          }
          .sidebar-logo{
            width: 100%;
            margin: 0 auto;
            fill: #fff;
          }
          .sidebar-arrow{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7.5px 0 7.5px 13.0px;
            border-color: transparent transparent transparent #ffffff;
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
            opacity: .9;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -7.5px;
            margin-left: -7.5px;
            &.arrow-left{
              -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              transform: rotate(180deg);
            }
            &:hover{
              opacity: 1;
            }
          }
        }
        .sidebar-description{
          color: #fff;
          font-size: .8rem;
        }
        svg path{
          fill: #fff;
        }
      }
    }
    .modal-inner{
      width: 70%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      &.work-modal-container{
        nav#work-modal-nav{
          a{
            width: 100%;
            display: inline-block;
          }
          .logo_tokidoki{
            width: 60%;
          }
          .logo_bebe{
            width: 60%;
            padding-top: 5%;
          }
          .logo_tb{
            padding-top: 8%;
          }
        }
      }
    }
  }
  &.modal-container-show{
    height: 100%;
    transition: height 1ms;
  }
  //Animation
  &.modal-active{
    .modal-animation-box-1{
      top: -95%;
      transition: top 2s;
    }
    .modal-animation-box-2{
      top: -75%;
      transition: top 2.5s;
    }
    .modal-animation-box-3{
      top: -55%;
      transition: top 3s;
    }
    .modal-animation-box-4{
      top: 0%;
      transition: top 2.5s;
    }
    .modal-content{
      opacity: 1;
      transition: opacity .5s;
      -webkit-transition-delay: 3s;
      transition-delay: 2.5s;
    }
  }
}
