html
  head
    title Test
    link( href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet")
  body
    section.section-container.main-container#intro(data-init-proportion="1.5")
      div.copy-box
        h1 I design and develop...
        p Hi there! My name is Glenn, and as you can see above I design and Hi there! My name is Glenn, and as you can see abodesign and dend  test, and deploy, but mostly, I like to create things.
        p I’m open for adventure, and Fishing for Friendships!
      div.floating-element.svg-element(data-img="box_04.svg", data-x="50", data-y="60", data-z="0", data-scale-x="1", data-scale-y="1", data-rotate="10", data-color="#6967a8", data-mouse-depth="1", data-plax-depth="1", data-float-frequency="", data-float-amplitude="") 
      //div.floating-element(data-x="50", data-y="60", data-z="0", data-scale-x="1", data-scale-y="1", data-rotate="10", data-color="#6967a8", data-mouse-depth="1", data-plax-depth="1", data-float-frequency="", data-float-amplitude="") 
    section.section-container#transition1(data-init-proportion="10")
    section.section-container.main-container#work()
    section.section-container#transition2(data-init-proportion="2")
    section.section-container.main-container#skills()
    section.section-container#transition3()
