html
  head
    title Test
  body
    section.section-container.main-container#intro(data-init-proportion="1.5")
    section.section-container#transition1(data-init-proportion="2")
    section.section-container.main-container#work()
    section.section-container#transition2(data-init-proportion="2")
    section.section-container.main-container#skills()
    section.section-container#transition3()
