html
  head
    title Test
    link( href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet")
  body
    section.section-container.main-container.purpleLight#intro(data-init-proportion="4")
      div.copy-box.sm-w-90.sm-t-4.sm-l-5.md-w-70.md-l-15.md-t-4.lg-w-50.lg-l-25.lg-t-4
        h1 I design and develop...
        p Hi there! My name is Glenn, and as you can see above I design and Hi there! My name is Glenn, and as you can see abodesign and dend  test, and deploy, but mostly, I like to create things.
        p I’m open for adventure, and Fishing for Friendships!
      div.down-btn.sm-z-50.sm-l-50.sm-t-18.md-t-16.lg-t-12
        div.down-btn-cirle.down-btn-inner-1
        div.down-btn-cirle.down-btn-inner-2
        div.down-btn-cirle.down-btn-inner-3
      //Bg Diagonal
      div.floating-element.simple-box.purpleDark.sm-z-10.sm-w-110.sm-h-20(data-mouse-depth="0" data-y="15|22|22" data-x="49|49|49" data-r="3" data-plax-depth="3", data-float-frequency="", data-float-amplitude="") 
      //Clouds
      div.floating-element.svg-element.blueLight.sm-z-20.sm-w-300.md-w-150.lg-w-104(data-img="cloud_scene_01.svg" data-y="19|19|19" data-x="50|53|50" data-mouse-depth="1", data-pStart="20", data-pEnd="100", data-pEndY="67") 
      div.floating-element.svg-element.blueMedium.sm-z-15.sm-w-300.md-w-150.lg-w-104(data-img="cloud_scene_02.svg" data-y="19|19|19" data-x="50|50|50" data-mouse-depth="2", data-pStart="20", data-pEnd="100", data-pEndY="53") 
      div.floating-element.svg-element.blueDark.sm-z-14.sm-w-300.md-w-150.lg-w-104(data-img="cloud_scene_03.svg" data-y="22|22|22" data-x="50|50|50" data-mouse-depth="1", data-pStart="20", data-pEnd="100", data-pEndY="25") 
      //Water
      div.floating-element.svg-element.blueDark.sm-z-30.sm-w-300.sm-t-30.md-w-105.md-t-30(data-name="water" data-img="water_scene_01.svg" data-y="28|27|30" data-x="49|49|49" data-mouse-depth="1", data-pStart="20", data-pEnd="100", data-pEndY="100") 
      //Bg Diagonal
      //div.floating-element.simple-box.blueMedium.sm-z-21.sm-r-3.sm-w-110.sm-t-60.sm-l--5.sm-h-20.sm-t-2.md-t-60(data-pStart="24" data-top="2-2-30" data-pEnd="100", data-pEndY="40")
      //div.floating-element.simple-box.blueLight.sm-z-21.sm-r--3.sm-w-110.sm-t-60.sm-l--5.sm-h-20.sm-t-2.md-t-75(data-pStart="24" data-top="2-2-30" data-pEnd="100", data-pEndY="30")
      //Bubbles
      div.floating-element.svg-element.blueLightAlt1.sm-z-22.sm-w-100.md-w-100.md-w-90(data-img="bubbles_01.svg" data-y="45|50|45" data-x="48|48|48" data-pStart="30", data-pEnd="100", data-pEndY="35") 
      div.floating-element.svg-element.blueLightAlt0.sm-z-23.sm-w-100.md-w-100.md-w-90(data-img="bubbles_02.svg" data-y="45|50|45" data-x="50|50|50" data-pStart="30", data-pEnd="100", data-pEndY="50") 
      div.floating-element.svg-element.blueLightAlt2.sm-z-24.sm-w-100.md-w-100.md-w-80(data-img="bubbles_03.svg" data-y="45|50|45" data-x="49|49|49" data-pStart="30", data-pEnd="100", data-pEndY="40") 
      //Whale
      div.floating-element.svg-element.sm-z-29.sm-w-30.md-w-30(data-img="whale_01.svg" data-name="test" data-y="28|28|28" data-x="80|80|80" data-r="15" data-pStart="20", data-pEnd="70", data-pEndY="100", data-pEndX="-70" data-pEndR="-5" data-yArcAmplitude="35") 
      //Background
      div.floating-element.simple-box.sm-z-5.sm-w-110.sm-h-60(style="background-color:#09aadb;" data-y="70|70|70" data-x="50|50|50") 

    section.section-container#transition1(data-init-proportion="2" style="background-color:#674565;")
      //Bg Diagonal
      div.floating-element.simple-box.sm-z-10.sm-w-110.sm-h-25(style="background-color:#684449;" data-y="5|5|5" data-x="48|48|48" data-r="3"  data-pStart="1", data-pEnd="80", data-pEndY="40") 
      div.floating-element.simple-box.sm-z-10.sm-w-110.sm-h-25(style="background-color:#9b424e;" data-y="4|8|12" data-x="48|48|48" data-r="-1"  data-pStart="1", data-pEnd="100", data-pEndY="40") 
      div.floating-element.simple-box.sm-z-10.sm-w-110.sm-h-25(style="background-color:#af4528;" data-y="10|12|25" data-x="48|48|48" data-r="1"  data-pStart="1", data-pEnd="100", data-pEndY="30") 
      div.floating-element.simple-box.sm-z-10.sm-w-110.sm-h-10(style="background-color:#cd8b2e;" data-y="40|20|40" data-x="48|48|48" data-r="-3"  data-pStart="1", data-pEnd="100", data-pEndY="20") 
    section.section-container.main-container#work(data-init-proportion="2" style="background-color:#fcbe11;")
      div.floating-element.svg-element.orange.sm-z-14.sm-w-300.md-w-150.lg-w-104(data-img="cloud_scene_04.svg" data-y="10|7|20" data-x="50|50|50" data-mouse-depth="1", data-pStart="20", data-pEnd="100", data-pEndY="25") 
    section.section-container#transition2(data-init-proportion="2")
    section.section-container.main-container#skills()
    section.section-container#transition3()
