html
  head
    title Test
    link( href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet")
  body
    div#debugPanel
      span Breakpoint:&nbsp;
        span#debugBreakpoint.debugContainer
      br.hide-for-medium-up  
      span Proportion:&nbsp;
        span#proportion.debugContainer
      br.hide-for-medium-up  
      span Active Container 1:&nbsp;
        span#activeContainer0.debugContainer
      br.hide-for-medium-up  
      span Interpolation:&nbsp;
        span#interpolation0.debugContainer
      br.hide-for-medium-up  
      span Active Container 2:&nbsp;
        span#activeContainer1.debugContainer
      br.hide-for-medium-up  
      span Interpolation 2:&nbsp;
        span#interpolation1.debugContainer
      br.hide-for-medium-up  
      span Test Object X:&nbsp;
        span#objectX.debugContainer
      br.hide-for-medium-up  
      span Test Object Y:&nbsp;
        span#objectY.debugContainer
      br.hide-for-medium-up  
      span CSS Breakpoint:&nbsp;
        span#cssbreakpoint.debugContainer
      br.hide-for-medium-up  
    section.section-container.main-container.purpleLight#intro(data-init-proportion="4")
      div.copy-box.sm-w-90.sm-t-4.sm-l-5.md-w-70.md-l-15.md-t-4.lg-w-50.lg-l-25.lg-t-4
        h1 I design and develop...
        p Hi there! My name is Glenn, and as you can see above I design and Hi there! My name is Glenn, and as you can see abodesign and dend  test, and deploy, but mostly, I like to create things.
        p I’m open for adventure, and Fishing for Friendships!
      div.down-btn.sm-z-50.sm-l-50.sm-t-18.md-t-16.lg-t-12
        div.down-btn-cirle.down-btn-inner-1
        div.down-btn-cirle.down-btn-inner-2
        div.down-btn-cirle.down-btn-inner-3
      //Bg Diagonal
      div.floating-element.simple-box.purpleDark.sm-z-10.sm-w-110.sm-h-20(data-mouse-depth="0" data-y="15|22|22" data-x="49|49|49" data-r="3" data-float-frequency="", data-float-amplitude="") 
      //Clouds
      div.floating-element.svg-element.blueLight.sm-z-20.sm-w-300.md-w-150.lg-w-104(data-img="cloud_scene_01.svg" data-y="19|19|19" data-x="50|53|50" data-mouse-depth="1", data-pStart="20", data-pEnd="100", data-pEndY="67") 
      div.floating-element.svg-element.blueMedium.sm-z-15.sm-w-300.md-w-150.lg-w-104(data-img="cloud_scene_02.svg" data-y="19|19|19" data-x="50|50|50" data-mouse-depth="2", data-pStart="20", data-pEnd="100", data-pEndY="53") 
      div.floating-element.svg-element.blueDark.sm-z-14.sm-w-300.md-w-150.lg-w-104(data-img="cloud_scene_03.svg" data-y="22|22|22" data-x="50|50|50" data-mouse-depth="4", data-pStart="20", data-pEnd="100", data-pEndY="25") 
      div.floating-element.animation-container.sm-z-30.sm-w-100.sm-h-30(data-y="30|22|30" data-x="50|50|50" data-mouse-depth="1", data-pStart="20", data-pEnd="100", data-pEndY="100") 
        //Water
        div.floating-element.svg-element.blueDark.sm-z-30.sm-w-300.md-w-150.lg-w-105(data-img="water_scene_01.svg" data-y="42|65|42" data-x="49|49|49") 
        //Whale
        div.floating-element.svg-element.sm-z-25.sm-w-110.md-w-60.lg-w-50(data-img="whale_01.svg" data-y="50|70|50" data-x="100|80|80" data-r="20" data-pStart="20", data-pEnd="55", data-pEndX="-40" data-pEndR="-20" data-yArcAmplitude="17") 
        //Boat
        div.floating-element.svg-element.sm-z-20.sm-w-60.md-w-35.lg-w-25(data-img="boat_01.svg" data-y="17|13|47|46|44|42|41|39|37|20|17|13" data-x="27|27|27" data-r="1" data-pStart="47", data-pEnd="80", data-pEndY="30" data-pEndR="50") 
      //Bubbles
      div.floating-element.svg-element.blueLightAlt1.sm-z-22.sm-w-300.md-w-200.lg-w-90(data-img="bubbles_01.svg" data-y="70|65|55" data-x="48|48|48" data-pStart="40", data-pEnd="100", data-pEndY="10") 
      div.floating-element.svg-element.blueLightAlt0.sm-z-23.sm-w-300.md-w-200.lg-w-90(data-img="bubbles_02.svg" data-y="70|65|55" data-x="50|50|50" data-pStart="40", data-pEnd="100", data-pEndY="15") 
      div.floating-element.svg-element.blueLightAlt2.sm-z-24.sm-w-300.md-w-200.lg-w-80(data-img="bubbles_03.svg" data-y="70|65|55" data-x="49|49|49" data-pStart="40", data-pEnd="100", data-pEndY="25") 
      //Background
      div.floating-element.simple-box.sm-z-20.sm-w-110.sm-h-20(style="background-color:#13b4e5;" data-y="30|70|65" data-x="50|50|50" data-r="-5") 
      div.floating-element.simple-box.sm-z-20.sm-w-110.sm-h-20(style="background-color:#1dbced;" data-y="30|70|80" data-x="50|50|50" data-r="-2") 
      div.floating-element.simple-box.sm-z-20.sm-w-110.sm-h-20(style="background-color:#28c6f6;" data-y="30|70|85" data-x="50|50|50" data-r="0") 
      div.floating-element.simple-box.sm-z-20.sm-w-110.sm-h-20(style="background-color:#40d2fe;" data-y="30|70|95" data-x="50|50|50" data-r="2") 

    section.section-container#transition1(data-init-proportion="2" style="background-color:#61c1ce;")
      //Bg Diagonal
      div.floating-element.simple-box.sm-z-8.sm-w-110.sm-h-25(style="background-color:#73b9b3;" data-y="5|5|20" data-x="48|48|48" data-r="3"  data-pStart="1", data-pEnd="80", data-pEndY="40") 
      div.floating-element.simple-box.sm-z-9.sm-w-110.sm-h-25(style="background-color:#89ae93;" data-y="4|8|25" data-x="48|48|48" data-r="-1"  data-pStart="1", data-pEnd="100", data-pEndY="40") 
      div.floating-element.simple-box.sm-z-12.sm-w-110.sm-h-5(style="background-color:#9da374;" data-y="10|12|20" data-x="48|48|48" data-r="1"  data-pStart="1", data-pEnd="100", data-pEndY="50") 
      div.floating-element.svg-element.sm-z-15.sm-w-110.md-w-60.lg-w-30(data-img="whale_02.svg" data-y="50|70|20" data-x="50|50|50" data-pStart="1", data-pEnd="80" data-pEndY="45") 
      div.floating-element.svg-element.sm-z-15.sm-w-110.md-w-60.lg-w-1(data-img="pot_01.svg" data-y="50|70|20" data-x="50|50|75" data-pStart="1", data-pEnd="80" data-pEndY="45") 
      div.floating-element.simple-box.sm-z-8.sm-w-110.sm-h-10(style="background-color:#b19a58;" data-y="40|20|55" data-x="48|48|48" data-r="-3"  data-pStart="1", data-pEnd="100", data-pEndY="20") 
      div.floating-element.simple-box.sm-z-9.sm-w-110.sm-h-10(style="background-color:#c09242;" data-y="40|20|78" data-x="48|48|48" data-r="-3"  data-pStart="1", data-pEnd="100", data-pEndY="20") 
      div.floating-element.simple-box.sm-z-9.sm-w-110.sm-h-10(style="background-color:#e1aa28;" data-y="40|20|80" data-x="48|48|48" data-r="-1"  data-pStart="1", data-pEnd="100", data-pEndY="30") 
    section.section-container.main-container#work(data-init-proportion="3" style="background-color:#fcbe11;")
      div.floating-element.svg-element.orange.sm-z-14.sm-w-300.md-w-150.lg-w-104(data-img="cloud_scene_04.svg" data-y="10|7|15" data-x="50|50|50" data-mouse-depth="1", data-pStart="20", data-pEnd="100", data-pEndY="25") 
      div.floating-element.svg-element.sm-z-13.sm-w-300.md-w-150.lg-w-104(data-name="test" data-img="cloud_scene_05.svg" data-y="10|7|15" data-x="50|50|50" data-color="fca411" data-mouse-depth="1", data-pStart="20", data-pEnd="100", data-pEndY="25") 
      div.floating-element.simple-box.sm-z-10.sm-w-110.sm-h-10(style="background-color:#fcb411;" data-y="40|20|20" data-x="48|48|48" data-r="-3"  data-pStart="1", data-pEnd="100", data-pEndY="20") 
    section.section-container#transition2(data-init-proportion="2")
    section.section-container.main-container#skills()
    section.section-container#transition3()
