html
  head
    title Test
    link( href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet")
  body
    section.section-container.main-container.purpleLight#intro(data-init-proportion="3")
      div.copy-box
        h1 I design and develop...
        p Hi there! My name is Glenn, and as you can see above I design and Hi there! My name is Glenn, and as you can see abodesign and dend  test, and deploy, but mostly, I like to create things.
        p I’m open for adventure, and Fishing for Friendships!
      div.floating-element.simple-box.purpleDark.z-10.r-3.w-110.l--5.h-20.t-2.md-t-5(data-mouse-depth="0", data-plax-depth="1", data-float-frequency="", data-float-amplitude="") 
      div.floating-element.svg-element.blueLight.z-20.w-200.t-10.l--50.md-w-105.md-t-5.l--2(data-img="cloud_scene_01.svg", data-mouse-depth="3", data-pStart="24", data-pEnd="80", data-pStartVal="0", data-pEndVal="55") 
      div.floating-element.svg-element.blueMedium.z-15.w-200.t-10.l--50.md-w-105.md-t-5.l--2(data-img="cloud_scene_02.svg", data-mouse-depth="2", data-pStart="24", data-pEnd="70", data-pStartVal="0", data-pEndVal="35") 
      div.floating-element.svg-element.blueDark.z-14.w-200.t-10.l--50.md-w-105.md-t-12.l--2(data-img="cloud_scene_03.svg", data-mouse-depth="1", data-pStart="24", data-pEnd="70", data-pStartVal="0", data-pEndVal="10") 
      div.floating-element.svg-element.blueDark.z-30.w-200.t-50.l--50.md-w-105.md-t-30.l--2(data-img="water_scene_01.svg", data-mouse-depth="1", data-pStart="24", data-pEnd="80", data-pStartVal="0", data-pEndVal="65") 
    section.section-container#transition1(data-init-proportion="5")
    section.section-container.main-container#work()
    section.section-container#transition2(data-init-proportion="2")
    section.section-container.main-container#skills()
    section.section-container#transition3()
