html
  head
    title Test
    link( href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet")
  body
    //- div#debugPanel
    //-   span Breakpoint:&nbsp;
    //-     span#debugBreakpoint.debugContainer
    //-   br.hide-for-medium-up  
    //-   span Proportion:&nbsp;
    //-     span#proportion.debugContainer
    //-   br.hide-for-medium-up  
    //-   span Active Container 1:&nbsp;
    //-     span#activeContainer0.debugContainer
    //-   br.hide-for-medium-up  
    //-   span Interpolation:&nbsp;
    //-     span#interpolation0.debugContainer
    //-   br.hide-for-medium-up  
    //-   span Active Container 2:&nbsp;
    //-     span#activeContainer1.debugContainer
    //-   br.hide-for-medium-up  
    //-   span Interpolation 2:&nbsp;
    //-     span#interpolation1.debugContainer
    //-   br.hide-for-medium-up  
    //-   span Test Object X:&nbsp;
    //-     span#objectX.debugContainer
    //-   br.hide-for-medium-up  
    //-   span Test Object Y:&nbsp;
    //-     span#objectY.debugContainer
    //-   br.hide-for-medium-up  
    //-   span CSS Breakpoint:&nbsp;
    //-     span#cssbreakpoint.debugContainer
    //-   br.hide-for-medium-up  
    section.section-container.main-container.purpleLight#intro(data-init-proportion="4")
      div.copy-box.sm-w-90.sm-t-4.sm-l-5.md-w-70.md-l-15.md-t-4.lg-w-50.lg-l-25.lg-t-4
        h1 I design and develop...
        p Hi there! My name is Glenn, and as you can see above I design and Hi there! My name is Glenn, and as you can see abodesign and dend  test, and deploy, but mostly, I like to create things.
        p I’m open for adventure, and Fishing for Friendships!
      div.down-btn.sm-z-50.sm-l-50.sm-t-9.md-t-16.lg-t-12
        div.down-btn-cirle.down-btn-inner-1
        div.down-btn-cirle.down-btn-inner-2
        div.down-btn-cirle.down-btn-inner-3
      //Bg Diagonal
      div.floating-element.html-element.sm-w-110.sm-h-20(data-mouse-depth="0" data-color="#343d5b" data-x="46|49|49" data-y="15|22|22" data-z="10" data-r="3" data-float-frequency="", data-float-amplitude="") 
      //Clouds
      div.floating-element.svg-element.sm-w-300.md-w-150.lg-w-104(data-img="cloud_scene_01.svg" data-color="#09aadb" data-x="50|53|50" data-y="19|19|19" data-z="20" data-mouse-depth="1", data-pStart="20", data-pEnd="100", data-pEndY="67") 
      div.floating-element.svg-element.sm-w-300.md-w-150.lg-w-104(data-img="cloud_scene_02.svg" data-color="#1185bf" data-x="50|50|50" data-y="19|19|19" data-z="15" data-mouse-depth="2", data-pStart="20", data-pEnd="100", data-pEndY="53" data-m-suppress="1") 
      div.floating-element.svg-element.sm-w-300.md-w-150.lg-w-104(data-img="cloud_scene_03.svg" data-color="#2a4b70" data-x="50|50|50" data-y="22|22|22" data-z="14" data-mouse-depth="4", data-pStart="20", data-pEnd="100", data-pEndY="25") 
      div.floating-element.html-element.animation-container.sm-w-100.sm-h-30(data-y="30|22|30" data-x="50|50|50" data-z="30" data-mouse-depth="1", data-pStart="20", data-pEnd="100", data-pEndY="100") 
        //Water
        div.floating-element.svg-element.sm-w-300.md-w-150.lg-w-105(data-img="water_scene_01.svg" data-z="3" data-color="#2a4b70" data-x="49|49|49" data-y="42|65|42") 
        //Whale
        div.floating-element.svg-element.sm-w-110.md-w-60.lg-w-50(data-img="whale_01.svg" data-x="100|80|80" data-y="50|70|50" data-z="2" data-r="20" data-pStart="20", data-pEnd="55", data-pEndX="-40" data-pEndR="-20" data-yArcAmplitude="17") 
        //Boat
        div.floating-element.svg-element.sm-w-60.md-w-35.lg-w-25(data-img="boat_01.svg" data-x="27|27|27" data-y="17|13|47|46|44|42|41|39|37|20|17|13" data-z="1" data-r="1" data-pStart="47", data-pEnd="80", data-pEndY="30" data-pEndR="50") 
      //Bubbles
      div.floating-element.svg-element.sm-w-300.md-w-200.lg-w-90(data-img="bubbles_01.svg" data-color="#2bc5f4" data-x="48" data-y="70|65|55" data-z="22" data-pStart="40", data-pEnd="100", data-pEndY="15") 
      div.floating-element.svg-element.sm-w-300.md-w-200.lg-w-90(data-img="bubbles_02.svg" data-color="#a1e4f8" data-x="50" data-y="70|65|55" data-z="23" data-pStart="40", data-pEnd="100", data-pEndY="20") 
      div.floating-element.svg-element.sm-w-300.md-w-200.lg-w-80(data-img="bubbles_03.svg" data-color="#4fcff6" data-x="49" data-y="70|65|55" data-z="24" data-pStart="40", data-pEnd="100", data-pEndY="30") 
      //Background
      div.floating-element.html-element.sm-w-110.sm-h-20(data-color="#13b4e5" data-x="50|52|50" data-y="70|65|62" data-z="20" data-r="-5") 
      div.floating-element.html-element.sm-w-110.sm-h-20(data-color="#1dbced" data-x="50" data-y="70|80|80" data-z="21" data-r="-2") 
      div.floating-element.html-element.sm-w-110.sm-h-20(data-color="#28c6f6" data-x="50" data-y="70|90|85" data-z="23" data-r="0") 
      div.floating-element.html-element.sm-w-110.sm-h-20(data-color="#40d2fe" data-x="50" data-y="70|100|95" data-z="24" data-r="2") 

    section.section-container#transition1(data-init-proportion="3" style="background-color:#61c1ce;")
      //Bg Diagonal
      div.floating-element.html-element.sm-w-110.sm-h-25(data-color="#73b9b3" data-x="48" data-y="5|5|20" data-z="8" data-r="3"  data-pStart="1", data-pEnd="80", data-pEndY="40") 
      div.floating-element.html-element.sm-w-110.sm-h-25(data-color="#89ae93" data-x="48" data-y="4|8|25" data-z="9" data-r="-1"  data-pStart="1", data-pEnd="100", data-pEndY="40") 
      div.floating-element.html-element.sm-w-110.sm-h-5(data-color="#9da374" data-x="48" data-y="10|12|20" data-z="12" data-r="1"  data-pStart="1", data-pEnd="100", data-pEndY="50") 
      div.floating-element.svg-element.sm-w-30.md-w-30.lg-w-30(data-img="whale_02.svg" data-x="50|50|50" data-y="20|20|20" data-z="15" data-pStart="1", data-pEnd="80" data-pEndY="45") 
      div.floating-element.svg-element.sm-w-1.md-w-1.lg-w-1(data-img="pot_01.svg" data-x="75|75|75" data-y="20|20|20" data-z="15" data-pStart="1", data-pEnd="80" data-pEndY="45") 
      div.floating-element.html-element.sm-w-110.sm-h-10(data-color="#b19a58" data-x="48" data-y="55|55|55" data-z="8" data-r="-3"  data-pStart="1", data-pEnd="100", data-pEndY="20") 
      div.floating-element.html-element.sm-w-110.sm-h-10(data-color="#c09242" data-x="48" data-y="78|78|78" data-z="9" data-r="-3"  data-pStart="1", data-pEnd="100", data-pEndY="20") 
      div.floating-element.html-element.sm-w-110.sm-h-10(data-color="#e1aa28" data-x="48" data-y="80|80|80" data-z="9" data-r="-1"  data-pStart="1", data-pEnd="100", data-pEndY="30") 
    section.section-container.main-container#work(data-init-proportion="3" style="background-color:#fcbe11;")
      div.floating-element.svg-element.sm-w-300.md-w-150.lg-w-104(data-img="cloud_scene_04.svg" data-color="#f78721" data-x="50" data-y="15|15|15" data-z="14" data-mouse-depth="1", data-pStart="20", data-pEnd="100", data-pEndY="25") 
      div.floating-element.svg-element.sm-w-300.md-w-150.lg-w-104(data-color="#fca411" data-img="cloud_scene_05.svg" data-x="50" data-y="15|15|15" data-z="13" data-mouse-depth="2", data-pStart="20", data-pEnd="100", data-pEndY="25") 
      div.floating-element.html-element.sm-w-110.sm-h-20(data-color="#fcb411" data-x="48" data-y="40|20|10" data-z="10" data-r="-3" data-pStart="1", data-pEnd="100", data-pEndY="20") 
    section.section-container#transition2(data-init-proportion="2")
    section.section-container.main-container#skills()
    section.section-container#transition3()
