html
  head
    title test
  body
    section.section-container.main-container#intro
    section.section-container#transition1
    section.section-container.main-container#work
    section.section-container#transition2
    section.section-container.main-container#skills
    section.section-container#transition3
