html
  head
    title Test
    link( href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet")
  body
    section.section-container.main-container.purpleLight#intro(data-init-proportion="3")
      div.copy-box
        h1 I design and develop...
        p Hi there! My name is Glenn, and as you can see above I design and Hi there! My name is Glenn, and as you can see abodesign and dend  test, and deploy, but mostly, I like to create things.
        p I’m open for adventure, and Fishing for Friendships!
      div.down-btn.sm-z-50.sm-l-50.sm-t-28.md-t-25.lg-t-20
        div.down-btn-cirle.down-btn-inner-1
        div.down-btn-cirle.down-btn-inner-2
        div.down-btn-cirle.down-btn-inner-3
      //Bg Diagonal
      div.floating-element.simple-box.purpleDark.sm-z-10.sm-r-3.sm-w-110.sm-l--5.sm-h-20.sm-t-2.md-t-5(data-mouse-depth="0" data-top="2-5-5" data-plax-depth="3", data-float-frequency="", data-float-amplitude="") 
      //Clouds
      div.floating-element.svg-element.blueLight.sm-z-20.sm-w-300.sm-t-10.sm-l--100.md-w-150.md-t-2.md-l--10.lg-l--2(data-img="cloud_scene_01.svg" data-top="0-2-2" data-mouse-depth="1", data-pStart="24", data-pEnd="100", data-pStartY="0", data-pEndY="67") 
      div.floating-element.svg-element.blueMedium.sm-z-15.sm-w-300.sm-t-10.sm-l--100.md-w-150.md-t-2.md-l--10.lg-l--2(data-img="cloud_scene_02.svg" data-top="0-2-2" data-mouse-depth="2", data-pStart="24", data-pEnd="100", data-pStartY="0", data-pEndY="53") 
      div.floating-element.svg-element.blueDark.sm-z-14.sm-w-300.sm-t-10.sm-l--50.md-w-150.md-t-14.md-l--2.lg-l--2(data-img="cloud_scene_03.svg" data-top="6-2-10" data-mouse-depth="1", data-pStart="24", data-pEnd="100", data-pStartY="0", data-pEndY="25") 
      //Water
      div.floating-element.svg-element.blueDark.sm-z-30.sm-w-300.sm-t-30.sm-l--10.md-w-105.md-t-30.md-l--2.lg-l--2(data-name="water" data-img="water_scene_01.svg" data-top="25-27-27" data-mouse-depth="1", data-pStart="24", data-pEnd="100", data-pStartY="0", data-pEndY="90") 
      //Bg Diagonal
      //div.floating-element.simple-box.blueMedium.sm-z-21.sm-r-3.sm-w-110.sm-t-60.sm-l--5.sm-h-20.sm-t-2.md-t-60(data-pStart="24" data-top="2-2-30" data-pEnd="100", data-pStartY="0", data-pEndY="40")
      //div.floating-element.simple-box.blueLight.sm-z-21.sm-r--3.sm-w-110.sm-t-60.sm-l--5.sm-h-20.sm-t-2.md-t-75(data-pStart="24" data-top="2-2-30" data-pEnd="100", data-pStartY="0", data-pEndY="30")
      //Bubbles
      div.floating-element.svg-element.blueLightAlt1.sm-z-22.sm-w-100.sm-t-50.md-w-90.md-t-30.md-l-1(data-img="bubbles_01.svg" data-top="50-30-40" data-pStart="30", data-pEnd="100", data-pStartY="0", data-pEndY="35") 
      div.floating-element.svg-element.blueLightAlt0.sm-z-23.sm-w-100.sm-t-50.md-w-90.md-t-30.md-l-3(data-img="bubbles_02.svg" data-top="50-30-40" data-pStart="30", data-pEnd="100", data-pStartY="0", data-pEndY="50") 
      div.floating-element.svg-element.blueLightAlt2.sm-z-24.sm-w-100.sm-t-50.md-w-80.md-t-30.md-l-2(data-img="bubbles_03.svg" data-top="50-30-40" data-pStart="30", data-pEnd="100", data-pStartY="0", data-pEndY="40") 
      div.floating-element.svg-element.blueLightAlt3.sm-z-25.sm-w-100.sm-t-50.md-w-90.md-t-30.md-l-5(data-img="bubbles_04.svg" data-top="50-30-40" data-pStart="30", data-pEnd="100", data-pStartY="0", data-pEndY="55") 

    section.section-container#transition1(data-init-proportion="5")
    section.section-container.main-container#work()
    section.section-container#transition2(data-init-proportion="2")
    section.section-container.main-container#skills()
    section.section-container#transition3()
