html
  head
    title Test
    link( href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet")
  body
    section.section-container.main-container.purpleLight#intro(data-init-proportion="4")
      div.copy-box.sm-w-90.sm-t-4.sm-l-5.md-w-70.md-l-15.md-t-4.lg-w-50.lg-l-25.lg-t-4
        h1 I design and develop...
        p Hi there! My name is Glenn, and as you can see above I design and Hi there! My name is Glenn, and as you can see abodesign and dend  test, and deploy, but mostly, I like to create things.
        p I’m open for adventure, and Fishing for Friendships!
      div.down-btn.sm-z-50.sm-l-50.sm-t-23.md-t-20.lg-t-18
        div.down-btn-cirle.down-btn-inner-1
        div.down-btn-cirle.down-btn-inner-2
        div.down-btn-cirle.down-btn-inner-3
      //Bg Diagonal
      div.floating-element.simple-box.purpleDark.sm-z-10.sm-r-3.sm-w-110.sm-h-20(data-mouse-depth="0" data-y="8|5|5" data-x="-5|-5|-5" data-plax-depth="3", data-float-frequency="", data-float-amplitude="") 
      //Clouds
      div.floating-element.svg-element.blueLight.sm-z-20.sm-w-300.md-w-150.lg-w-104(data-img="cloud_scene_01.svg" data-y="7|2|2" data-x="-17|-20|-2" data-mouse-depth="1", data-pStart="20", data-pEnd="100", data-pStartY="0", data-pEndY="67") 
      div.floating-element.svg-element.blueMedium.sm-z-15.sm-w-300.md-w-150.lg-w-104(data-img="cloud_scene_02.svg" data-y="2|2|2" data-x="-160|-20|-2" data-mouse-depth="2", data-pStart="20", data-pEnd="100", data-pStartY="0", data-pEndY="53") 
      div.floating-element.svg-element.blueDark.sm-z-14.sm-w-300.md-w-150.lg-w-104(data-img="cloud_scene_03.svg" data-y="10|7|10" data-x="-50|-20|-2" data-mouse-depth="1", data-pStart="20", data-pEnd="100", data-pStartY="0", data-pEndY="25") 
      //Water
      div.floating-element.svg-element.blueDark.sm-z-30.sm-w-300.sm-t-30.md-w-105.md-t-30(data-name="water" data-img="water_scene_01.svg" data-y="28|27|22" data-x="-10|-2|-2" data-mouse-depth="1", data-pStart="20", data-pEnd="100", data-pStartY="0", data-pEndY="100") 
      //Bg Diagonal
      //div.floating-element.simple-box.blueMedium.sm-z-21.sm-r-3.sm-w-110.sm-t-60.sm-l--5.sm-h-20.sm-t-2.md-t-60(data-pStart="24" data-top="2-2-30" data-pEnd="100", data-pStartY="0", data-pEndY="40")
      //div.floating-element.simple-box.blueLight.sm-z-21.sm-r--3.sm-w-110.sm-t-60.sm-l--5.sm-h-20.sm-t-2.md-t-75(data-pStart="24" data-top="2-2-30" data-pEnd="100", data-pStartY="0", data-pEndY="30")
      //Bubbles
      div.floating-element.svg-element.blueLightAlt1.sm-z-22.sm-w-100.md-w-90(data-img="bubbles_01.svg" data-y="50|30|40" data-x="1|1|1" data-pStart="20", data-pEnd="100", data-pStartY="0", data-pEndY="35") 
      div.floating-element.svg-element.blueLightAlt0.sm-z-23.sm-w-100.md-w-90(data-img="bubbles_02.svg" data-y="50|30|40" data-x="3|3|3" data-pStart="20", data-pEnd="100", data-pStartY="0", data-pEndY="50") 
      div.floating-element.svg-element.blueLightAlt2.sm-z-24.sm-w-100.md-w-80(data-img="bubbles_03.svg" data-y="50|30|40" data-x="2|2|2" data-pStart="20", data-pEnd="100", data-pStartY="0", data-pEndY="40") 
      //div.floating-element.svg-element.sm-z-30.sm-w-100.md-w-90(style="background-color:#000" data-img="bubbles_04.svg" data-y="10|10|10" data-x="5|5|5" data-pStart="20", data-pEnd="100", data-pStartY="0", data-pEndY="55" data-pStartX="0", data-pEndX="-55") 
      //Background
      div.floating-element.simple-box.sm-z-5.sm-w-110.sm-h-40(style="background-color:#09aadb;" data-y="60|60|60" data-x="-5|-5|-5") 

    section.section-container#transition1(data-init-proportion="2" style="background-color:#674565;")
      //Bg Diagonal
      div.floating-element.simple-box.sm-z-10.sm-r-3.sm-w-110.sm-h-25(style="background-color:#684449;" data-name="test" data-y="2|5|5" data-x="-5|-5|-5" data-pStart="1", data-pEnd="80", data-pStartY="0", data-pEndY="40") 
      div.floating-element.simple-box.sm-z-10.sm-r--1.sm-w-110.sm-h-25(style="background-color:#9b424e;" data-y="4|8|12" data-x="-5|-5|-5" data-pStart="1", data-pEnd="100", data-pStartY="0", data-pEndY="40") 
      div.floating-element.simple-box.sm-z-10.sm-r-1.sm-w-110.sm-h-25(style="background-color:#af4528;" data-y="10|12|25" data-x="-5|-5|-5" data-pStart="1", data-pEnd="100", data-pStartY="0", data-pEndY="30") 
      div.floating-element.simple-box.sm-z-10.sm-r--3.sm-w-110.sm-h-10(style="background-color:#cd8b2e;" data-y="40|20|40" data-x="-5|-5|-5" data-pStart="1", data-pEnd="100", data-pStartY="0", data-pEndY="20") 
    section.section-container.main-container#work(data-init-proportion="2" style="background-color:#fcbe11;")
      div.floating-element.svg-element.orange.sm-z-14.sm-w-300.md-w-150.lg-w-104(data-img="cloud_scene_04.svg" data-y="10|7|7" data-x="-50|-20|-2" data-mouse-depth="1", data-pStart="20", data-pEnd="100", data-pStartY="0", data-pEndY="25") 
    section.section-container#transition2(data-init-proportion="2")
    section.section-container.main-container#skills()
    section.section-container#transition3()
