$xs: "only screen and (min-width: 20.063em)"; /* 320px */
$sm: "only screen and (min-width: 30.063em)"; /* 480px */
$md: "only screen and (min-width: 40.063em)"; /* 640px */
$lg: "only screen and (min-width: 52.563em)"; /* 840px */
$xlg: "only screen and (min-width: 64.063em)"; /* 1020px */

$blueLight: #09aadb ;
$blueMedium: #1185bf ;
$blueDark: #2a4b70 ;
$purpleLight: #674565 ;
$purpleMedium: #504066 ;
$purpleDark: #343d5b ;


body,html{
  padding: 0;
  margin: 0;
}
html{
  font-size: 100%;
  body{
     font-size:62.5%
  }
}
h1{
  font-weight: 300;
  color: #fff;
  letter-spacing: .08rem;
  line-height: 1rem;
  text-transform: uppercase;
  font-size: 2rem
}
p{
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  display: block;
  max-width: 50%;
  margin: 0 auto;
  letter-spacing: .08rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

//containers
.section-container{
  position: relative;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  height: 0;
  &#intro{
  }
  &#transition1{
    background: #bae4a4;
  }
  &#work{
    background: #a88ac5;
  }
  &#transition2{
    background: #f28288;
  }
  &#skills{
    background: #bae4a4;
  }
  &#transition3{
    background: #ffa170;
  }
}
//sprites
.floating-element{
  height: auto;
  width: 100%;
  min-width: 100px;
  position: absolute;
  z-index: 20;
  //min width to be overwritten later, need to set initially to calc proportion
}
.svg-element{
  svg{
  }
}
.simple-box{
  width: 100%;
  height: 0;
  padding-bottom: 20%;
  .simple-box-inner{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.copy-box{
  position: relative;
  z-index: 99;
  margin-top: 15%;
  text-align: center;
}

.simple-box, .section-container{
    &.blueLight{background-color: $blueLight ;}
    &.blueMedium{background-color: $blueMedium ;}
    &.blueDark{background-color: $blueDark ;}
    &.purpleLight{background-color: $purpleLight ;}
    &.purpleMedium{background-color: $purpleMedium ;}
    &.purpleDark{background-color: $purpleDark ;}
}

.svg-element{
  &.blueLight{
    path,circle{
      fill: $blueLight;
    }
  }
  &.blueMedium{
    path,circle{
      fill: $blueMedium;
    }
  }
  &.blueDark{
    path,circle{
      fill: $blueDark;
    }
  }
  &.purpleLight{
    path,circle{
      fill: $purpleLight;
    }
  }
  &.purpleMedium{
    path,circle{
      fill: $purpleMedium;
    }
  }
  &.purpleDark{
    path,circle{
      fill: $purpleDark;
    }
  }
}
.svg-element{
  path{
    .blueLight{fill: $blueLight ;}
    .blueMedium{fill: $blueMedium ;}
    .blueDark{fill: $blueDark ;}
    .purpleLight{fill: $purpleLight ;}
    .purpleMedium{fill: $purpleMedium ;}
    .purpleDark{fill: $purpleDark ;}
  }
}

//SMALL ZINDEX
@for $i from 0 through 30{
  .z-#{$i}{
    z-index: $i;
  }
}
//SMALL Rotate
@for $i from -360 through 360{
  .r-#{$i}{
    -webkit-transform: rotate($i + deg);
    -ms-transform: rotate($i + deg);
    transform: rotate($i + deg);
  }
}
//SMALL HEIGHT
@for $i from 0 through 100{
  .h-#{$i}{
    height: 0% + $i;
  }
}
//SMALL WIDTH
@for $i from 0 through 200{
  .w-#{$i}{
    width: 0% + $i;
  }
}
//SMALL TOP
@for $i from 0 through 100{
  .t-#{$i}{
    top: 0% + $i;
  }
}
//SMALL RIGHT
@for $i from 0 through 100{
  .r-#{$i}{
    right: 0% + $i;
  }
}
//SMALL BOTTOM
@for $i from 0 through 100{
  .b-#{$i}{
    bottom: 0% + $i;
  }
}
//SMALL LEFT
@for $i from -100 through 100{
  .l-#{$i}{
    left: 0% + $i;
  }
}
//MEDIUM DIMENSIONS
@media #{$md} {
  //MEDIUM HEIGHT
  @for $i from 0 through 100{
    .md-h-#{$i}{
      height: 0% + $i;
    }
  }
  //MEDIUM WIDTH
  @for $i from 0 through 120{
    .md-w-#{$i}{
      width: 0% + $i;
    }
  }
  //MEDIUM TOP
  @for $i from 0 through 100{
    .md-t-#{$i}{
      top: 0% + $i;
    }
  }
  //MEDIUM RIGHT
  @for $i from 0 through 100{
    .md-r-#{$i}{
      right: 0% + $i;
    }
  }
  //MEDIUM BOTTOM
  @for $i from 0 through 100{
    .md-b-#{$i}{
      bottom: 0% + $i;
    }
  }
  //MEDIUM LEFT
  @for $i from -100 through 100{
    .md-l-#{$i}{
      left: 0% + $i;
    }
  }
}
