body,html{
  padding: 0;
  margin: 0;
}
//containers
.section-container{
  position: relative;
  &#intro{
    padding-bottom: 70%;
    background: #026b9f;
  }
  &#transition1{
    padding-bottom: 50%;
    background: #bae4a4;
  }
  &#work{
    padding-bottom: 50%;
    background: #a88ac5;
  }
  &#transition2{
    padding-bottom: 50%;
    background: #f28288;
  }
  &#skills{
    padding-bottom: 50%;
    background: #bae4a4;
  }
  &#transition3{
    padding-bottom: 50%;
    background: #ffa170;
  }
}
//sprites
.floatingObject{
  width: 100%;
  height: auto;
  position: absolute;
  overflow: hidden;
  //-webkit-transition: all .1s ease;
  //transition: all .1s ease;
}
